---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% if page.use_math %}
      {% include mathjax_support %}
    {% endif %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
<!-- GoStats JavaScript Based Code -->
<script type="text/javascript">(function(c,o,m,p,u,t,e){
c['GoStatsObject']=u;c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},
c[u].l=1*new Date();t=o.createElement(m);t.async=1;t.src=p;
e=o.getElementsByTagName(m)[0];e.parentNode.insertBefore(t,e);
})(window,document,'script','//www.gostats.org/5.js','go');
go('init',701070998,{'img_counter_type':5,'img_image_type':1});go('send');</script>
<!-- End GoStats JavaScript Based Code -->

</html>
