---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% if page.use_math %}
      {% include mathjax_support %}
    {% endif %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>

<!-- GoStats Simple HTML Based Code -->
<a target="_blank" title=""
href="http://www.gostats.org"><img alt="web site traffic statistics"
src="//www.gostats.org/0.png?a=701070998&ct=1&ci=65" style="border-width:0" width="0.5" height="0.5" /></a>
<!-- End GoStats Simple HTML Based Code -->
</html>
